:root {
    --clr-purple: #7618C1;
    --clr-wheat: #F4EDE2;
    --test-color2: #da532c;
    --clr-pink: #E057AB;
    --clr-logo: white;
    --clr-text-primary: #482A1F;
    --clr-text-secondary: black;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
    font-family: Title-Font;
    /* src: url(/misc/TitleFont.ttf); */
    src: url("font/DMSeriDisplay-Regular.ttf") format('truetype');;
  }
@font-face {
    font-family: Subtitle-Font;
    /* src: url(/misc/TitleFont.ttf); */
    src: url("font/DMSeriDisplay-Italic.ttf") format('truetype');;
  }

body {
    background-color: var(--clr-wheat) !important;
}
table, th, td {
    border: none;
  }
.logo {
    width: min(1000px, 100%);
    /* width: 1000px */
    /* height: 600px; */
}

.logo path, 
.logo line,
.logo polyline {
    stroke: var(--clr-logo);
}

/* style text differently */
#Layer_6--inject-1 {
    fill: var(--clr-logo);
    stroke: none;
    stroke-width: 0;
}

header {
    display: flex !important;
    width: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

a.button {
    background-color: var(--clr-wheat);
    padding: 1em;
    width: fit-content;
    border: solid 5px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    border-image-source: linear-gradient(to left, var(--dcmb-orange), var(--dcmb-brown));
  
    text-decoration: none;
    text-transform: uppercase;
    transform: scale(1);
    font-weight: bold;
  
  
    transition: all 100ms;
  }
  
  a.button:hover {
    background-color: var(--clr-text-primary);
    color: var(--clr-wheat);
    transform: scale(1.1);
    box-shadow: 0 0 10px white;
    transition: all 300ms;
  }

main {
    max-width: 120ch;
    margin: auto;
    text-align: center;
}

/* Navbar */
nav {
    background: var(--clr-wheat);
    padding: 1em;
  
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    /* justify-content: space-between; */
  }
  
  .navlinks {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
  
    height: 3em;
    /* margin: 0; */
    flex-grow: 1;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .navlinks li {
    display: inline;
    position: relative;
    /* height: 100%; */
    padding: 0 1em;
    text-transform: uppercase;
    transition: background-color 200ms ease-in-out;
  
    
  }
  li a{
    display: block;
    color: var(--clr-text-secondary);
  }
  li a:hover {
    background-color: var(--clr-text-primary);
    color: var(--clr-wheat);
    border-radius:5px;
  }
  /* TODO mobile menu */
  @media (max-width: 1024px) {
    .navlinks {
      display: none;
    }
  }
  
  .navlinks li {
    position: relative;
    /* height: 100%; */
    padding: 0 1em;
    text-transform: uppercase;
    transition: background-color 200ms ease-in-out;
  
    
  }
  
  .logo img {
    height: 124px;
    margin-left: 2em;
  }
  
  
  /* .navlinks li:hover {
    background-color: var(--dcmb-orange);
    transition: background-color 200ms ease-in-out;
  } */
  
  .navlinks li::before {
    position: absolute;
    background: linear-gradient(90deg, var(--dcmb-orange), black);
    content: " ";
    height: 7px;
    width: 0%;
    bottom: -0.7em;
    left: 0;
    z-index: 1;
    transition: width 200ms;
  }
  
  .navlinks li:hover::before {
    width: 30%;
    transition: width 200ms;
  }
  
  .navlinks li::after {
    position: absolute;
    background: linear-gradient(90deg, black, var(--dcmb-orange));
    content: " ";
    height: 7px;
    width: 0%;
    bottom: -0.7em;
    right: 0;
    z-index: 1;
    transition: width 200ms;
  }
  
  .navlinks li:hover::after {
    width: 30%;
    transition: width 200ms;
  }
  
  
  
  .navlinks li a {
    text-decoration: none;
    vertical-align: middle
  }
  

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    color: var(--clr-text-primary);
    font-family: "Title-Font" , serif;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--clr-text-primary);
    font-family: "Title-Font"; 
}

h2.committee {
    font-style: italic;
}

.ball-date {
    font-size: 5em;
    font-family: "Title-Font"; 
}

p {
    text-transform: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: var(--clr-text-primary);
    font-weight: 300;
    letter-spacing: 0.04vw;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%; 
}
.flex{
    text-align: left;
}
a {
    color: white;
}
footer {
    font-size: 0.8em;
    color: var(--clr-text-secondary); 
}



main .email {
    text-transform: lowercase;
    letter-spacing: 0.4pt;
    font-size: 10pt;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color: rgb(149, 112, 64);
}


.committee {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    row-gap: 3em;
    column-gap: 1em;

}

.committee-member {
    text-align: center;
    flex-basis: 30%;
    color: var(--clr-text-secondary);
}

/* ensure the president is in the middle */
.committee .committee-member:nth-child(n + 3) {
    order: 2;
}

#president {
    order: 1;
}

/* for small screens, move from three columns to one */
@media (max-width: 792px) {
    .committee-member {
        flex-basis: 100%;
    }
    .ball-date {
        font-size: 2em;
    }    
}
@media (max-width: 400px) {

    #president {
        order: 0;
    }
    .ball-date {
        font-size: 2em;
    }
    
}
main .btn {
    font-size: 1em;
    text-transform: none; 
}

main.open {
    position: relative;
    z-index: -1; 
}

.fa-sort-down {
    width: 30px;
    animation: move 1s infinite alternate;
}

.fab {
    color: var(--clr-text-secondary);
}

footer a {
    color: var(--clr-text-secondary)
}

.fas:hover, .fab:hover {
    /*color: rgb(160, 160, 160);*/
    opacity: 0.7;
    cursor: pointer; 
}


@media (min-width: 980px) {
    .fa-sort-down {
        visibility: hidden;
    }
    .flex .ticket {
        width: 100%;
        flex-flow: row nowrap;
    }

    .separator {
        height: 1px;
        width: 100%;
    }
    .add-on-title {
        width: 100%;
        flex-flow: row;
    }
    
    .add-on {
        width: 100%;
        padding-block: 2em;
    }
    .ball-date {
        font-size: 2em;
        font-family: "Title-Font"; 
    }
}

@keyframes move {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(20px);
    }
}

ul li {
    text-decoration: none;
    list-style-type: none;
}



.title {
    font-size: 1em;
}

.fab {
    font-size: 0.7em;
}


@media (min-width: 400px) {
    .title {
        font-size: 1em;
    }

    .fab {
        font-size: 0.5em;
    }
    .flex .ticket {
        width: 100%;
        flex-flow: row nowrap;
    }

    .separator {
        height: 1px;
        width: 100%;
    }
    .add-on-title {
        width: 100%;
        flex-flow: row;
    }
    
    .add-on {
        width: 100%;
        padding-block: 2em;
    }
}

@media (min-width: 400px) {
    .title {
        font-size: 1.5em;
    }

    .fab {
        font-size: 1em;
    }
    .flex .ticket {
        width: 100%;
        flex-flow: row nowrap;
    }

    .separator {
        height: 1px;
        width: 100%;
    }
    .add-on-title {
        width: 100%;
        flex-flow: row;
    }
    
    .add-on {
        width: 100%;
        padding-block: 2em;
    }

}

@media (min-width: 600px) {
    .title {
        font-size: 2em;
    }

    .fa-sort-down {
        visibility: hidden;
    }

}

@media (width: 375px) and (height: 812px) {
    .title {
        font-size: 1.7em;
    }

    .fab {
        font-size: 1em;
    }
    .flex .ticket {
        width: 100%;
        flex-flow: row nowrap;
    }

    .separator {
        height: 1px;
        width: 100%;
    }
    .add-on-title {
        width: 100%;
        flex-flow: row;
    }
    
    .add-on {
        width: 100%;
        padding-block: 2em;
    }
    .ball-date {
        font-size: 5em;
    }

}

@media (min-width: 800px) {
    .title {
        font-size: 3em;
    }
    .flex .ticket {
        width: 100%;
        flex-flow: row nowrap;
    }

    .separator {
        height: 1px;
        width: 100%;
    }
    .add-on-title {
        width: 100%;
        flex-flow: row;
    }
    
    .add-on {
        width: 100%;
        padding-block: 2em;
    }
    .ball-date {
        font-size: 5em;
    }

}


    


@media (width: 1024px) and (height: 1366px) {
    .fa-sort-down {
        visibility: visible;
    }
    .flex .ticket {
        width: 100%;
        flex-flow: row nowrap;
    }

    .separator {
        height: 1px;
        width: 100%;
    }
    .add-on-title {
        width: 100%;
        flex-flow: row;
    }
    
    .add-on {
        width: 100%;
        padding-block: 2em;
    }
    .ball-date {
        font-size: 5em;
    }

}

@media (width: 768px) and (height: 1024px) {
    .fa-sort-down {
        visibility: visible;
    }
    .flex .ticket {
        width: 100%;
        flex-flow: row nowrap;
    }

    .separator {
        height: 1px;
        width: 100%;
    }
    .add-on-title {
        width: 100%;
        flex-flow: row;
    }
    
    .add-on {
        width: 100%;
        padding-block: 2em;
    }
    .ball-date {
        font-size: 2em;
        font-family: "Title-Font"; 
    }
}


/* Ticket price style */

.flex {
    display: flex;
    padding-inline: 0%;
    justify-content: flex-start;
    align-items: flex-start;

    flex-flow: row nowrap;
    gap: 1em;
}

.flex .ticket {
    width: 30%;
    padding-block: 2em;
}

.price {
    font-weight: bold;
    font-size: 1.1em
}

.price-desc {
    font-size: 0.7em;
    line-height: 0px;
}

section strong {
    font-weight: bold;
}

.separator {
    background: var(--clr-text-secondary);
    width: 1px;
    height: 20em;
}

.separator_line {
    background: var(--clr-text-secondary);
    width: 100%;
    height: 1px;
}

.add-on-title {
    width: 65%;
    flex-flow: row;
}

.add-on {
    width: 33%;
    padding-block: 2em;
}


@media (max-width: 1024px) {
    .flex {
        flex-flow: column nowrap;
        padding-inline: 2%;
    }

    .flex .ticket {
        width: 100%;
        flex-flow: row nowrap;
    }

    .separator {
        align-self: center;
        height: 1px;
        width: 50%;
    }
    .separator_line {
        align-self: center;
        height: 1px;
        width: 100%;
    }
    .add-on-title {
        width: 100%;
        flex-flow: row;
    }
    
    .add-on {
        width: 100%;
        padding-block: 2em;
    }
    .ball-date {
        font-size: 2em;
    }
    .committee-member{
        width: 30%;
    }
}
