@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Cormorant+Garamond&family=Roboto&family=Zilla+Slab');

@font-face {
    font-family: Title-Font;
    src: url(/misc/TitleFont.ttf);
  }

:root {
    --clr-blue: #008389;
    --clr-logo: white;
    --clr-text-primary: white;
    --clr-text-secondary:#CAFCFF;
}

body {
    background-color: var(--clr-blue) !important;
}

.logo {
    /* width: min(1000px, 100%); */
    /* width: 1000px */
    height: 600px;
}

.logo path, 
.logo line,
.logo polyline {
    stroke: var(--clr-logo);
}

/* style text differently */
#Layer_6--inject-1 {
    fill: var(--clr-logo);
    stroke: none;
    stroke-width: 0;
}

header {
    display: flex !important;
    width: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}


main {
    max-width: 120ch;
    margin: auto;
    text-align: center;
}



h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    color: var(--clr-text-primary);
    font-family: "Zilla Slab" , serif;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--clr-text-primary);
    font-family: "Zilla Slab", serif; 
}

p {
    text-transform: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: var(--clr-text-primary);
    font-weight: 300;
    letter-spacing: 0.04vw;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%; 
}

footer {
    font-size: 0.8em;
    color: var(--clr-text-secondary); 
}



main .email {
    text-transform: lowercase;
    letter-spacing: 0.4pt;
    font-size: 10pt;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}


.committee {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    row-gap: 3em;
    column-gap: 1em;

}

.committee-member {
    text-align: center;
    flex-basis: 30%;
    color: var(--clr-text-secondary);
}

/* ensure the president is in the middle */
.committee .committee-member:nth-child(n + 3) {
    order: 2;
}

#president {
    order: 1;
}

/* for small screens, move from three columns to one */
@media (max-width: 992px) {
    .committee-member {
        flex-basis: 100%;
    }

    #president {
        order: 0;
    }
}

main .btn {
    font-size: 1em;
    text-transform: none; 
}

main.open {
    position: relative;
    z-index: -1; 
}

.fa-sort-down {
    width: 30px;
    animation: move 1s infinite alternate;
}

.fab {
    color: var(--clr-text-secondary);
}

footer a {
    color: var(--clr-text-secondary)
}

.fas:hover, .fab:hover {
    /*color: rgb(160, 160, 160);*/
    opacity: 0.7;
    cursor: pointer; 
}


@media (min-width: 980px) {
    .fa-sort-down {
        visibility: hidden;
    }
}

@keyframes move {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(20px);
    }
}

ul li {
    text-decoration: none;
    list-style-type: none;
}



.title {
    font-size: 1em;
}

.fab {
    font-size: 0.7em;
}


@media (min-width: 400px) {
    .title {
        font-size: 1em;
    }

    .fab {
        font-size: 0.5em;
    }

}

@media (min-width: 400px) {
    .title {
        font-size: 1.5em;
    }

    .fab {
        font-size: 1em;
    }

}

@media (min-width: 600px) {
    .title {
        font-size: 2em;
    }

    .fa-sort-down {
        visibility: hidden;
    }

}

@media (width: 375px) and (height: 812px) {
    .title {
        font-size: 1.7em;
    }

    .fab {
        font-size: 1em;
    }

}

@media (min-width: 800px) {
    .title {
        font-size: 3em;
    }

}


    


@media (width: 1024px) and (height: 1366px) {
    .fa-sort-down {
        visibility: visible;
    }

}

@media (width: 768px) and (height: 1024px) {
    .fa-sort-down {
        visibility: visible;
    }
}


/* Ticket price style */

.flex {
    display: flex;
    padding-inline: 5%;

    flex-flow: row nowrap;
    gap: 1em
}

.price {
    font-weight: bold;
    font-size: 1.1em
}

.price-desc {
    font-size: 0.7em;
    line-height: 0px;
}

section strong {
    font-weight: bold;
}

.separator {
    background: var(--clr-text-secondary);
    width: 1px;
}

@media (max-width: 1024px) {
    .flex {
        flex-flow: column nowrap;
        padding-inline: 15%;
    }

    .separator {
        height: 1px;
        width: 100%;
    }
}